.profile-name {
  width: 300px;
  border-bottom: 2px solid #0084ff;
  h1 {
    font-size: 80px;
    color: #fff;
    margin-top: -15px;
  }
  h2 {
    font-size: 65px;
    color: #ddd;
    margin-bottom: 0px;
  }
}