// Place all the styles related to the Conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.conversations-img {
  width: 150px;
  height: 150px;
}

.conversation-card {
  display: block;
  background-color: #444;
  color: white;
  min-width: 600px;
  margin: 0 auto;
}

.conversation-container {
  width: 100%;
}

.convo-card-body {
  .card-title {
    font-weight: 600;
    font-size: 25px;
  }
}

.conversation-link:hover {
  color: white;
  text-decoration: none;
}

.convos-title {
  color: white;
}

.conversation {
  background-color: #444;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
  .conversation-header {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    background-color: #555;
    padding: 5px;
    img {
      width: 65px;
      height: 65px;
      border-radius: 75px;
      display: inline-block;
    }
    h1 {
      display: inline-block;
      margin-left: 25px;
    }
    a {
      color: white;
      position: relative;
      top: 11px;
    }
    a:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
  .conversation-body {
    padding: 40px;
    height: 600px;
    overflow: auto;
    .sent-message {
      float: right;
      background-color: cornflowerblue;
      clear: both;
      margin-bottom: 15px;
      padding: 15px;
      font-size: 20px;
      border-radius: 20px;
      p {
        margin: 0;
        text-align: right;
      }
    }
    .received-message {
      float: left;
      background-color: grey;
      clear: both;
      margin-bottom: 15px;
      padding: 15px;
      font-size: 20px;
      border-radius: 20px;
      p {
        margin: 0;
        text-align: right;
      }
    }
  }
  .conversation-message {
    width: 100%;
    height: 90px;
    margin-top: 50px;
    padding: 20px;
    background-color: #555;
    border-radius: 0px 0px 10px 10px;
  }
}

.message-content {
  width: 85%;
  display: inline-block;
}
.send-msg-button {
  width: 10%;
  float: right;
  position: relative;
  bottom: 35px;
}

input#message_content {
  font-size: 25px;
  background-color: #636363;
  border: none;
  border-bottom: 2px solid cornflowerblue;
  color: white;
  padding: 6px;
}
input#message_content:focus {
  outline: none;
}

input#message_content::placeholder {
  color: #ddd;
}
