@import 'users';
@import 'navbar';
@import 'athlete';
@import 'athletes';
@import 'videos';
@import 'offers';

body {
  background-image: url('Athlete-BG');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-background {
  background-color: rgba(47, 48, 47, 0.5);
  width: 100%;
}

.body {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}