.navbar {
  position: fixed;
  width: 100%;
  margin-top: -20px;
  background-color: #444;
  border-bottom: 0.5px solid #555;
  z-index: 100;
}

.navbar-logo {
  height: 60px;
}

.account-menu {
  width: 320.7px;
  .dropdown {
    float: right;
    font-size: 26px;
    color: white;
    .nav-avatar {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      display: inline-block;
    }
    .nav-link {
      color: white;
      display: inline-block;
      padding-left: 5px;
      position: relative;
      top: 3px;
    }
  }
}

.dropdown-menu {
  background-color: #555;
  width: 270px;
  color: white;
  .dropdown-item {
    color: white;
    font-size: 20px;
  }
  .dropdown-item:hover {
    color: black;
  }
}